/* css document */
p {
	color: teal;
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 17px;
	line-height: 25px;
	width: 1200px;
	background-color: azure;
	padding: 25px;
	
}
h1, h2{
	font-family: "Lucida Console", "Courier New", monospace;
	color: white;
}
h3, ol, ul, h4, h5{
	font-family: "Lucida Console", "Courier New", monospace;
}
body{
	background-color: teal;
	border: 10px solid mediumturquoise;

}
a {
	color: turquoise;
	line-height: 25px;
	font-family: "Lucida Console", "Courier New", monospace;
}
p,h1,h2,h3,ol,ul,body,a{
	margin-top: 25px;
  margin-bottom: 75px;
  margin-right: 50px;
  margin-left: 50px;
}